{% for domain in dkim_domains%}
{{ domain.selector }}._domainkey.{{ domain.domain }} {{ domain.domain }}:{{ domain.selector }}:/etc/opendkim/keys/{{ domain.domain }}/{{ domain.selector }}.private
{% endfor %}

