modified on 2016-07-11 17:14:53 by root on admin

smtpd_banner = $myhostname ESMTP $mail_name
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no

# TLS parameters
smtpd_tls_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
smtpd_use_tls=yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

# Enable SASL authentication
#smtp_sasl_auth_enable = yes
#smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd
#smtp_sasl_security_options = noanonymous
smtp_use_tls = yes
smtpd_recipient_restrictions =  permit_mynetworks, reject_unauth_destination, check_policy_service unix:private/policy-spf
# General
myhostname = {{ hostname }}
myorigin = $mydomain
mydestination =
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128 192.168.13.0/24
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
milter_default_action = accept
milter_protocol = 6
smtpd_milters = inet:localhost:8892,local:/opendmarc/opendmarc.sock
non_smtpd_milters = inet:localhost:8892,local:/opendmarc/opendmarc.sock
relayhost =
header_checks = regexp:/etc/postfix/list_unsub_header
policy-spf_time_limit = 3600s
compatibility_level = 2
