#AuthservID OpenDMARC
AuthservID {{ hostname }}.{{ domain_name }}
PidFile /var/run/opendmarc/opendmarc.pid
PublicSuffixList /usr/share/publicsuffix
RejectFailures true
IgnoreAuthenticatedClients true
Socket local:/var/spool/postfix/opendmarc/opendmarc.sock
#IgnoreHosts /etc/opendmarc/ignore.hosts
Syslog true
TrustedAuthservIDs {{ hostname }}.{{ domain_name }}
# opendigitaleducation.com
UMask 0002
UserID opendmarc:opendmarc
RequiredHeaders true
SPFSelfValidate true
